
//== Template Main Color
$base-color: #000050;
$base-color-2: #0088ff;
$secondary-color: #333639;
$bg-color:#f4f4f4;
$white: #fff;
$sbg-1:#f3f3f3;
//== heading color
$heading-color: #3d5169;
$heading-color-2: #00d563;
$hcolor-3: #000050;
$descr-color: #3d5169;
$subtitle-color: #242424;
//== social color
$facebook: #3b5999;
$twitter: #55acee;
$linkedin: #0077B5;
$google-plus: #dd4b39;
$pinterest: #bd081c;
$youtube: #cd201f;
$instagram: #e4405f;
$dribbble: #ea4c89;
$behance: #131418;
$wordpress: #21759b;
$skype: #00AFF0;

/*==========================================
    typography
===========================================*/
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700');
$body-font:'Noto Sans', sans-serif;
$heading-font:'Ubuntu', sans-serif;

//== font sizes
$base-font-size: 16px !default;
$font-size-h1: 60px !default;
$font-size-h2: 52px !default;
$font-size-h3: 36px !default;
$font-size-h4: 24px !default;
//** Unit-less `line-height` for use in components like buttons.
$line-height: 1.4 !default; // 24/15
// border-radius
$border-radius-5: 5px !default;
$border-radius-25: 25px !default;
$border-radius-3: 3px !default;
$border-radius-circle: 50% !default;
//  transition
$transition: all .3s ease-in;
$transition-long: all .5s ease-in;