/*==========================================
    blog details area
==========================================*/
.blog-details-area {
    .part-img {
        img {
            width: 100%;
        }
    }
    .part-text {
        padding: 24px 30px 21px;
        border-left: 1px solid #e3e3e3;
        border-right: 1px solid #e3e3e3;
        h2 {
            font-size: 30px;
            color: $base-color;
            line-height: 40px;
            font-weight: 700;
            margin-bottom: 23px;
        }
        P 
        {
            color: #666;
            font-size: 16px;
            margin-bottom: 21px;
            line-height: 30px;
            &:last-child {
                margin-bottom: 6px;
            }
        }
        .marked {
            color: $base-color;
            font-style: italic;
        } 
    }
    .part-meta {
        padding: 0 30px 30px;
        border: 1px solid #e3e3e3;
        border-top: none;
        ul {
            padding: 0;
            margin: 0;
            list-style: none;
            li {
                display: inline-block;
                padding: 0 30px;
                position: relative;
                &:after {
                    position: absolute;
                    content: '';
                    top: 50%;
                    margin-top: -10px;
                    left: 0;
                    height: 20px;
                    width: 1px;
                    background: #919191;
                }
                a {
                    img {
                        margin-right: 10px;
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        overflow: hidden;
                    }
                }
                &:first-child {
                    &:after {
                        display: none;
                    }
                    padding-left: 0;
                }
                a {
                    font-size: 15px;
                    color: $heading-color;
                    @include transition(.4s);
                    i {
                        color: #7c7c7c;
                    }
                    &:hover {
                        color: $base-color;
                    }
                }
            }
        }
    }
}
.comments-area {
    h3 {
        font-size: 30px;
        color: $base-color;
        font-weight: 600;
        margin: 32px 0 0px;
    }
    .single-comment {
        position: relative;
        padding-bottom: 19px;
        border-bottom: 1px solid #f1f1f1;
        padding-top: 40px;
        .part-img {
            width: 100px;
            height: 100px;
            float: left;
            margin-right: 20px;
            img {
                width: 100%;
            }
        }
        .part-text {
            display: table;
            h4 {
                font-size: 20px;
                color: $base-color;
                font-weight: 600;
                display: inline-block;
                margin-top: -6px;
            }
            span {
                color: $base-color;
                font-size: 15px;
                font-style: italic;
                display: block;
                margin-top: -1px;
                margin-bottom: 6px;
            }
            p {
                color: #666;
                font-size: 16px;
                line-height: 26px;
            }
            button {
                position: absolute;
                right: 0;
                top: 40px;
                background: transparent;
                border: 0;
                font-size: 15px;
                color: $base-color;
                outline: none;
                cursor: pointer;
            }
        }
    }
    .reply {
        padding-left: 120px;
    }
   
}
.comment-form-area {
    form {
        h3 {
            font-size: 30px;
            color: $base-color;
            font-weight: 600;
            margin: 34px 0 29px;
        }
        input {
            height: 50px;
            width: 100%;
            margin-bottom: 30px;
            border: 1px solid #c8c8c8;
            padding: 0 20px;
        }
        textarea {
            width: 100%;
            height: 200px;
            resize: none;
            padding: 14px 20px;
        }
        button {
            @include transition(.4s);
            height: 50px;
            width: 180px;
            background: $base-color;
            color: $white;
            font-weight: 600;
            border: 1px solid $base-color;
            cursor: pointer;
            margin-top: 33px;
            &:hover {
                background: $white;
                color: $base-color;
            }
        }
    }
}